<mat-toolbar class="app-title">Filmes Cadastrados</mat-toolbar>

<mat-card class="float-left margin10 filtro-listagem">
  <form autocomplete="off" novalidate [formGroup]="filtroListagem">
    <div class="float-left width50">
      <div class="padding10">
        <dio-input-text titulo="Pesquise aqui" controlName="text" [formGroup]="filtroListagem">
        </dio-input-text>
      </div>
    </div>
    <div class="float-left width50">
      <div class="padding10">
        <dio-input-select titulo="Gênero" [options]="genres" controlName="genres" [formGroup]="filtroListagem">
        </dio-input-select>
      </div>
    </div>
  </form>
</mat-card>
<div class="home-content padding10" infiniteScroll (scrolled)="onScroll()" *ngIf="movies.length; else semFilme">

  <mat-card class="home-card" *ngFor="let movie of movies">
    <mat-card-header>
      <div mat-card-avatar></div>
      <mat-card-title>{{movie.titulo}}</mat-card-title>
      <mat-card-subtitle>{{movie.genero}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="movie.urlFoto || semFoto">
    <mat-card-content>
      <p class="quebra-linha">
        {{movie.descricao||'sem descrição'}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button color="accent" mat-raised-button>ABRIR</button>
    </mat-card-actions>
  </mat-card>
</div>

<ng-template #semFilme>
  <h1 class="main-div full-width">Nenhum registro encontrado</h1>
</ng-template>